


.rectangle{
   width:768px;
   height:465px;
   background-color:#be3343;
   padding: 2px;
   position: absolute;
    top: 128px;
    left: 360px;
    box-shadow: 1px 3px 10px black;
    border-radius: 35px 35px 35px 35px;


   }

   .rec2{

       width:550px;
       height:250px;
       background-color: #4076ba;
       padding: 2px;
       position: absolute;
        top: 130px;
        left: 115px;
        box-shadow: 1px 3px 10px black;
        border-radius: 55px 55px 55px 55px;
 
       }

    .rec1{
       width:772px;
       height:64px;
       background-color:  #4076ba;
       padding: 0px;
       position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        font-family: 'Roboto';
        border-radius: 19px 19px 0px 0px;
    }

    .buttons{
       background-color:  #B8860B;
       background: -webkit-linear-gradient(to right, #B8860B,  #DAA520
       );
       background: linear-gradient(to right,#B8860B,  #DAA520
       );
       color: 	#F5F5F5;
       -webkit-transition-duration: 0.4s; 
       transition-duration: 0.4s;
       padding: 4px 10px;
    }

    .buttons:hover{
       box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }


    .logo{
        width:100px;
        height:100px;
   
        position:absolute;
        top:200px;
        right:87%;
        display:inline-block;
    }

    .logo2{
       width:100px;
       height:100px;
  
       position:absolute;
       top:200px;
       right:-.5%;
       display:inline-block;
   }